body {

    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

.main {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 15px;
    box-shadow: 3px 3px 25px rgb(143, 143, 143), 
    10px 3px 3px rgb(226, 226, 226);
    text-align: center;
    width: 20rem;

}

.mid {
    padding: 10px; 
    margin: 0;

}

img {
    border-radius: 10px;
    margin: 0 auto;
	width: 100%;
}

.dial {
    margin-top: 20px;
    font-weight: bold;
}

.dia {
    margin-top: 15px;
    margin-bottom: 10px;
    color: grey;
    padding-bottom: 10px;
}

h2 {
    margin: 0;
}

p {
    font-size: 15px;
    margin-bottom: 5px;

}

.adjustment {
    margin: 10px;
    font-size: 15px;
}